[submodule "AAS"]
	path = AAS
	url = https://github.com/sisgitadmin/webObjectsX-AAS.git
[submodule "ADAP"]
	path = ADAP
	url = https://github.com/sisgitadmin/webObjectsX-ADAP.git
[submodule "REM"]
	path = REM
	url = https://github.com/sisgitadmin/webObjectsX-REM.git
[submodule "SAR"]
	path = SAR
	url = https://github.com/sisgitadmin/webObjectsX-SAR.git
